@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&family=Roboto&display=swap');

body{
    background-color: #f2faff;
}

*{
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: #2D2727 ;
    color: white;
}


nav ul li{
    padding: 0 12px;
}

.brand img{
    height: 52px;
    padding: 8px;
    transition: transform .2s;
}

img:hover{
    transform:scale(1.3);
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.container{
    min-height: 75vh;
    width: 70vw;
    
    background-color: #2D2727;
    color: white;
    display: flex;
    margin: 30px auto;
    
    border-radius: 12px;
    padding: 25px;
    background-image: url("/Assets/covers/bg.jpg") ;
    background-color: black;
    background-blend-mode: screen;
}

.player{
    display: flex;
    flex-direction: column;

    position: sticky;
    height: 100px;

    color: white;
    background-color: #413543;
    
    bottom: 0;
    align-items: center;
    justify-content: center;
}

.icons{
    margin: 8px;
}

.icons i{
    padding: 0 12px;
    cursor: pointer;
}

#progressBar{
    width: 80vw;
    height: 20px;

    cursor: pointer;
}

.songList{
    width: 80%;
}
.songItem{
    display: flex;
    height: 48px;
    color: white;
    margin: 18px 0;
    justify-content: space-between;
}

.songItem span{
    display: flex;
    padding: 0 12px;
    align-items: center;
}

.songItem span i{
    cursor: pointer;
}

.songItem img{
    height: 45px;
    border-radius: 4px;
}

.songInfo{
    position: absolute;
    left: 9vw;

    font-family: 'Roboto', sans-serif;
}
.songInfo img{
    height: 20px;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}